aiohttp
aiosignal
annotated-types
anthropic
arrow
async-timeout
attrs
boto3
botocore
cachetools
contourpy
cycler
dataclasses-json
distro
docopt
httpcore
httplib2
httpx
isoduration
jiter
jmespath
joblib
jsonpatch
mypy-extensions
mysql-connector-python
numpy
oauth2client
oauthlib
orjson
outcome
pandas
pyee
PyMySQL
pyparsing
PyQt5
python-anticaptcha
python-dotenv
regex
requests-oauthlib
rsa
scipy
seaborn
selenium
semchunk
simplejson
sortedcontainers
SQLAlchemy
yarl