aiohttp
aiosignal
annotated-types
anthropic
arrow
async-timeout
attrs
boto3
botocore
cachetools
contourpy
cycler
dataclasses-json
distro
docopt
et-xmlfile
faiss-cpu
filelock
fonttools
fqdn
free_proxy
frozenlist
fsspec
graphviz
greenlet
groq
grpcio
grpcio-status
h11
html2text
httpcore
httplib2
httpx
isoduration
jiter
jmespath
joblib
jsonpatch
jsonpointer
kiwisolver
lxml
marshmallow
matplotlib
minify_html
multidict
mypy-extensions
mysql-connector-python
numpy
oauth2client
oauthlib
openpyxl
orjson
outcome
pandas
patsy
pillow
playwright
plotly
plotly-express
ply
proto-plus
protobuf
pyasn1
pyasn1_modules
pydantic
pydantic_core
pyee
PyMySQL
pyparsing
PyQt5
python-anticaptcha
python-dotenv
regex
requests-oauthlib
rsa
s3transfer
scikit-learn
scipy
scrapegraphai
seaborn
selenium
semchunk
simplejson
sortedcontainers
SQLAlchemy
statsmodels
tenacity
threadpoolctl
tiktoken
tokenizers
tqdm
trio
trio-websocket
types-python-dateutil
typing-inspect
tzdata
undetected-playwright
uri-template
uritemplate
webcolors
webdriver-manager
webencodings
wsproto
xgboost
yarl
